@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff; */
  --background: var(--off-white);
  --foreground: #171717;

  --black: #171717;
  /* --white: #f3f1f2; */
  --white: #fff;

  /* --blue: rgb(133, 182, 237); */
  --blue: #aac2ff;
  /* --green: rgb(208, 237, 103); */
  --green: #c9ffaa;
  /* --red: rgb(191, 100, 108); */
  --red: #ffc6aa;

  --brand-orange: #f47a29;
  --brand-green: rgb(122, 142, 34);

  /* --off-white: #fffdfe; */
  --off-white: #ffffff;
  --grey-00: #f3f1f2;
  --grey-05: rgb(227, 224, 216);
  --grey-10: rgb(194, 191, 184);

  --shadow: 2px 2px 13px rgba(205, 205, 205, 0.4);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* scrollbar-width: 0; */
}

/* *::-webkit-scrollbar {
  display: none;
  width: 0;
} */

.cta-link {
  padding: 1.2rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 1000px;
  background: var(--off-white);
  
  color: #171717;
  fill: #171717;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  font-weight: 900;
}

.btn, .cta {
  padding: 1.2rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 1000px;
  background: #171717;
  fill: var(--off-white);
  color: var(--off-white);
  gap: 1rem;

  display: inline-flex;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

svg {
  flex-shrink: 0;
  width: 1.4rem;
  height: 1.4rem;
}

h1, h2, h3, h4 {
  line-height: 1;
}

body {
  color: var(--foreground);
  background: var(--off-white);
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

header {
  height: 80px;
  width: 100%;
  padding: 1rem 7.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: var(--off-white);
  border-bottom-left-radius: 4rem;
  border-bottom-right-radius: 4rem;

  .desktop {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4rem;
  }

  .desktop ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: 600;

    li a {
      font-size: .875rem;
      border-bottom: 1px dotted #171717;
    }
  }

  .desktop .social ul {
    gap: 1rem;

    li svg {
      width: 1rem;
      height: 1rem;
    }
  }

  .mobile, .toggle {
    display: none;
  }
}

.banner {
  position: relative;
  margin-top: 80px;
  background: var(--off-white);
  /* background: linear-gradient(to bottom, var(--off-white), var(--grey-00)); */
  display: flex;
  align-items: center;
}

.banner_img {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin-left: auto;
  position: relative;
  overflow: hidden;
  /* border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%; */
  /* clip-path: shape(from 85.55% 34.35%,curve to 75.80% 57.47% with 83.80% 50.00%,curve to 61.21% 70.60% with 67.80% 64.93%,curve to 41.40% 82.05% with 54.63% 76.27%,curve to 22.04% 75.11% with 28.16% 87.82%,curve to 20.41% 51.63% with 15.93% 62.40%,curve to 27.48% 28.17% with 24.90% 40.87%,curve to 42.03% 21.41% with 30.06% 15.47%,curve to 70.65% 23.03% with 53.99% 27.36%,curve to 85.55% 34.35% with 87.30% 18.70%); */
  
  img {
    width: 100%;
    height: 100%;
    min-width: 100%;
    max-width: 800px;
    max-height: 800px;
    object-fit: cover;
    object-position: center center;
    /* border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%; */
    /* rotate: 10deg; */
  }
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  align-items: center;
}

.slide {
  min-width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;

  &:nth-of-type(1) img {
    aspect-ratio: 1;
    clip-path: shape(from 84.21% 37.90%,curve to 85.48% 63.37% with 94.22% 50.00%,curve to 63.37% 80.94% with 76.73% 76.73%,curve to 36.36% 81.22% with 50.00% 85.16%,curve to 11.71% 63.64% with 22.72% 77.28%,curve to 10.67% 35.32% with 0.70% 50.00%,curve to 35.32% 12.05% with 20.64% 20.64%,curve to 62.10% 14.63% with 50.00% 3.46%,curve to 84.21% 37.90% with 74.20% 25.80%);
    /* clip-path: shape(from 84.41% 35.29%,curve to 84.60% 64.90% with 89.41% 50.00%,curve to 64.90% 78.93% with 79.80% 79.80%,curve to 34.33% 79.71% with 50.00% 78.07%,curve to 17.68% 65.67% with 18.65% 81.35%,curve to 27.76% 44.41% with 16.71% 50.00%,curve to 44.41% 21.44% with 38.81% 38.81%,curve to 64.71% 12.33% with 50.00% 4.06%,curve to 84.41% 35.29% with 79.41% 20.59%); */
  }
  &:nth-of-type(2) img {
    /* clip-path: shape(from 78.58% 39.00%,curve to 79.57% 61.98% with 85.17% 50.00%,curve to 61.98% 84.80% with 73.97% 73.97%,curve to 41.21% 81.61% with 50.00% 95.64%,curve to 19.81% 58.79% with 32.41% 67.59%,curve to 18.72% 40.12% with 7.20% 50.00%,curve to 40.12% 29.44% with 30.25% 30.25%,curve to 61.00% 28.31% with 50.00% 28.62%,curve to 78.58% 39.00% with 72.00% 28.00%); */
    aspect-ratio: 1;
    clip-path: shape(from 86.20% 35.25%,curve to 83.98% 62.53% with 92.89% 50.00%,curve to 62.53% 87.41% with 75.06% 75.06%,curve to 33.54% 91.34% with 50.00% 99.76%,curve to 9.92% 66.46% with 17.08% 82.92%,curve to 11.29% 34.91% with 2.76% 50.00%,curve to 34.91% 21.80% with 19.81% 19.81%,curve to 64.75% 22.14% with 50.00% 23.79%,curve to 86.20% 35.25% with 79.51% 20.49%);
  }
}

.banner_txt {
  /* position: absolute; */
  color: #171717;
  color: var(--brand-orange);

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  padding: 2rem 7.5vw;
  /* text-shadow: 0px 0px 5px #746e6c; */

  &::before {
    content: ' ';
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    background: var(--blue);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }

  h1 {
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 1rem;
  }

  h4 {
    font-size: 1.6rem;
    font-weight: 900;
  }

  .cta {
    color: var(--off-white);
    background: var(--brand-orange);
    margin-top: 2rem;
  }
}

.title{
  padding: 0 7.5vw;
  margin-bottom: 4rem;
  /* max-width: 600px; */
  text-align: center;

  h1 {
    font-size: 2.6rem;
    font-weight: 900;
    margin-bottom: 1rem;
    color: var(--brand-orange);
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 1rem;
  }

  h4 {
    font-size: 1.2rem;
  }
}

.continue {
  font-weight: 900;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1rem;
  background: var(--brand-orange);
  color: var(--off-white);
  padding: .75rem;
  border-radius: 1000px;
  display: inline-block;
  z-index: 10;
}

.allProducts {
  padding: 4rem 0;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  width: 100%;
  /* transform: translateY(-2rem);
  margin-top: -2rem; */
  background: var(--off-white);
}

.products {
  padding: 2rem 7.5vw;

  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  border-top: 1px solid var(--grey-05);
  background: linear-gradient(to bottom, var(--grey-00), var(--off-white));
  position: relative;

  .name {
    font-weight: 900;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem;
    background: var(--brand-orange);
    color: var(--off-white);
    padding: .75rem;
    border-radius: 1000px;
    rotate: 7deg;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    /* translate: -5px 55px; */
    /* display: inline-block; */
  }
  /* &:nth-of-type(2) .name {
    background: #cbcca8;
  }
  &:nth-of-type(3) .name {
    background: #ffc6aa;
  }
  &:nth-of-type(4) .name {
    background: #c9ffaa;
  } */
}

.prod-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* background: var(--grey-00); */
  /* border: 1px solid var(--grey-05); */
  border-radius: 1rem;
  overflow: hidden;
}


.prod {
  /* min-width: 150px; */
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
  /* padding: 1rem 0; */
  cursor: pointer;
  /* border: 1px solid var(--grey-05); */
  width: 100%;
  position: relative;
}

.prod img {
  /* max-height: 150px; */
  /* width: 100%; */
  width: auto;
  height: 400px;
  filter: drop-shadow(rgba(84, 84, 84, 0.35) 0px 15px 25px);
  margin: auto;
  border-radius: 1rem;
  object-fit: contain;
}

.prod .feature {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem; */
  text-align: center;
  font-weight: bold;
}


.prod .category {
  font-weight: bold;
  background: var(--grey-00);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-20px);
  box-shadow: var(--shadow);
  padding: 1rem;
  border: 1px solid var(--grey-05);
  border-radius: 1rem;

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    /* max-width: 200px; */
    justify-content: center;
  }
  
}

.prod .category li {
  margin-bottom: .5rem;
  font-size: .85rem;

  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: .2rem .5rem;

  cursor: pointer;
  width: 110px;
  font-weight: bold;
  border: 1px solid var(--grey-05);
  background: var(--grey-00);
  background: #fff;
  border-radius: 1000px;
  
  &:is(.selected) {
    background: #171717;
    color: var(--off-white);
    border-radius: 1000px;
  }
}



.quantity {
  display: flex;
  gap: .25rem;
}

.quantity button {
  --size: 25px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  
  display: grid;
  place-items: center;
  font-weight: bold;
  background: var(--grey-05);
}

.quantity input {
  /* display: block; */
  text-align: center;
  width: 50px;
  min-width: 50px;
  max-width: 50px;
  font-size: 1.2rem;
  font-weight: 900;
  padding: 0;
  border: none;
  outline: none;
  scrollbar-width: 0;
  background: transparent;
}

.quantity input::-webkit-scrollbar {
  width: 0;
  display: none;
}

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}


.infographics {
  display: flex;
  gap: 4rem;
  align-items: center;
  
  video {
    width: 100%;
    max-width: 500px;
    border-radius: 1rem;
  }
}

.infographics ul li {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;

  span {
    font-size: 1.2rem;
    font-weight: bold;
  }
}

.about {
  padding: 8rem 7.5vw;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  width: 100%;
  /* transform: translateY(-4rem);
  margin-top: -4rem; */
  background: var(--brand-orange);
  color: var(--off-white);
  display: flex;
  gap: 1rem;

  .text {
    h1 {
      font-size: 4rem;
      font-weight: 900;
    }

    h2 {
      font-size: 1.6rem;
      font-weight: 900;
      margin-bottom: 1rem;
    }
  
    p {
      font-size: 1.2rem;
      margin-bottom: 2rem;
      font-weight: 600;
    }
  }

  img {
    width: 100%;
    max-width: 500px;
    /* max-height: 400px; */
    object-fit: cover;
    /* display: none; */
    border-radius: 1rem;
  }

  video {
    width: 100%;
    max-width: 500px;
    border-radius: 1rem;
  }
}

.impact {
  padding: 8rem 7.5vw;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  width: 100%;
  /* transform: translateY(-4rem);
  margin-top: -4rem; */
  background: var(--brand-orange);
  color: var(--off-white);
  display: flex;
  gap: 1rem;

  .text {
    h1 {
      font-size: 4rem;
      font-weight: 900;
    }

    h2 {
      font-size: 1.6rem;
      font-weight: 900;
      margin-bottom: 1rem;
    }
  
    p {
      font-size: 1.2rem;
      margin-bottom: 2rem;
      font-weight: 600;
    }
  }

  img {
    width: 100%;
    max-width: 500px;
    /* max-height: 400px; */
    object-fit: cover;
    /* display: none; */
    border-radius: 1rem;
  }

  .infographics {
    display: flex;
    gap: 4rem;
    align-items: center;
  }

  .infographics ul li {
    display: flex;
    gap: .5rem;
    margin-bottom: 1rem;
    flex-direction: column;
    list-style: disc;

    span {
      font-size: 1.2rem;
      font-weight: 900;
    }
  }
}


.note {
  padding: 4rem 7.5vw;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  width: 100%;
  background: var(--brand-orange);
  color: var(--off-white);
  display: flex;
  gap: 1rem;

  .text {
    padding: 2rem;
    /* max-width: 500px; */
    width: 100%;
    background: var(--grey-00);
    color: #171717;
    border: 1px dashed var(--brand-orange);
    border-radius: 2rem;
   

    h2 {
      font-size: 2.4rem;
      margin-bottom: 1rem;
      font-weight: 900;
      color: var(--brand-orange);
    }
  
    p {
      font-size: 1rem;
      margin-bottom: 2rem;
      font-weight: 600;
    }
  }

  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    /* max-height: 400px; */
    object-fit: cover;
    /* display: none; */
    border-radius: 1rem;
  }
}

.process {
  padding: 8rem 7.5vw;
  width: 100%;
  /* margin-top: -8rem; */
  /* padding-bottom: 12rem; */
  background: linear-gradient(to bottom, var(--grey-00), var(--off-white));
  /* color: var(--off-white); */

  h2 {
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 1rem;
    text-align: center;
    letter-spacing: -2px;
    color: var(--brand-orange);
  }
}



.blog {
  padding: 4rem 7.5vw;
  background: var(--off-white);

  h2 {
    font-size: 1.6rem;
    font-weight: 900;
    margin-bottom: 1rem;
  }

  .group {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;

    a {
      flex: 1;
    }
    figure {
      width: 100%;
      /* padding: 2rem; */
      background: var(--grey-00);
      border: 1px solid var(--grey-05);
      /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
      border-radius: 1rem;
      display: flex;
      gap: 1rem;
  
      img {
        width: 100px;
        height: 100px;
        border-bottom-left-radius: 1rem;
        border-top-left-radius: 1rem;
        border: 1px solid var(--grey-05);
        object-fit: cover;
      }
  
      figcaption {
        padding: 1rem 0;

        span {
          display: block;
        }

        h4{
          font-weight: 900;
        }

        /* a {
          font-size: .875rem;
          font-weight: bold;
          border-bottom: none;
        } */
      }
    }
  }

}



.faq {
  padding: 4rem 7.5vw;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  width: 100%;
  /* transform: translateY(-4rem);
  margin-top: -4rem; */
  background: var(--off-white);
  background: var(--off-white);


  h2 {
    font-size: 1.6rem;
    font-weight: 900;
    margin-bottom: 1rem;
  }
}

.faq ul li {
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid var(--grey-10);
  margin-bottom: 1rem;
  border-radius: 1rem;
  padding: 1rem;

  span {
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem 0;
    cursor: pointer;
  }

  p {
    font-size: .875rem;
    display: block;
    padding: 1rem 0;
  }

  &:nth-of-type(2) p {
    display: block;
  }
}

.reviews {
  padding: 8rem 7.5vw;
  padding-bottom: 4rem;
  width: 100%;
  /* transform: translateY(-4rem);
  margin-top: -4rem; */
  background: var(--off-white);
  overflow-x: scroll;

  .title {
    text-align: center;
  }
}

.allReviews {
  display: flex;
  gap: 1rem;
  max-width: 100%;
  margin: 0 auto;

  blockquote {
    /* flex: 1; */
    padding: 2rem;
    background: #fff;
    background: var(--grey-00);
    width: 100%;
    min-width: 300px;
    max-width: 600px;

    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    q {
      font-size: 1.2rem;
      font-weight: bold;
    }

    cite {
      font-weight: 900;
    }
  }

  &&:first-of-type {
    margin-left: auto;
  }

  &&:last-of-type {
    margin-right: auto;
  }
}


.team {
  padding: 4rem 7.5vw;
  padding-bottom: 8rem;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  width: 100%;
  transform: translateY(-4rem);
  margin-top: -4rem;
  background: var(--off-white);

  

  h2 {
    font-size: 1.6rem;
    font-weight: 900;
    margin-bottom: 1rem;
  }

  .group {
    display: flex;
    gap: 1rem;

    figure {
      flex: 1;
      padding: 1rem;
      background: #fff;
      background: var(--grey-00);
  
      /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
      border-radius: 2rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
  
      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 1px solid var(--grey-05);
        object-fit: cover;
      }
  
      figcaption {
        font-weight: 900;
      }
    }
  }

}

.footer {
  padding: 4rem 7.5vw;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  gap: 2rem;
}

.subscribe {
  padding: 2rem;
  /* max-width: 500px; */
  width: 100%;
  background: var(--grey-00);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h2 {
    font-size: 2.4rem;
    margin-bottom: 1rem;
    font-weight: 900;
    color: var(--brand-orange);
  }

  p {
    font-size: 1.2rem;
    font-weight: 600;
  }

  input {
    width: 100%;
    /* height: 40px; */
    border: none;
    outline: none;
    border: 1px solid var(--grey-05);
    border-radius: 1rem;
    padding: 1rem;
    font-family: 'Nunito', sans-serif;
    font-size: .875rem;
    font-weight: 500;
  }

  
}

.contact li {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.contact .content {

  h4 {
    font-weight: 900;
  }

  p {
    font-size: .875rem;
  }

  a {
    /* color: rgb(170, 209, 111); */
    font-size: .875rem;
    font-weight: bold;
    margin-top: .5rem;
    display: inline-block;
    border-bottom: 1px dashed #171717;
  }
}

.copy {
  text-align: center;
  background: var(--off-white);
  padding: 2rem 7.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-weight: bold;

  .social ul {
    display: flex;
    gap: 1rem;
  }
}

@media only screen and (max-width: 620px) {
  header {

    .desktop {
      display: none;
    }

    .toggle {
      display: block;
    }

    .mobile {
      display: flex;
      flex-direction: column;
      padding: 2rem 7.5vw;
      gap: 4rem;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      background: var(--off-white);
      border-bottom-left-radius: 4rem;
      border-bottom-right-radius: 4rem;

      .close {
        /* justify-self: flex-end; */
        margin-right: auto;
      }
    }

    .mobile ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 1rem;
      font-weight: 600;
  
      li a {
        font-size: 1.6rem;
        border-bottom: 1px dotted #171717;
      }
    }
  }

  .banner {
    flex-direction: column;
    
  }

  .banner_img {
    img {
      width: 300px;
      height: 300px;
    }
  }
  .banner_txt h1 {
    font-size: 3.2rem;
  }

  /* .prod-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  } */

  /* .prod {
    min-width: 125px;
  } */

  .prod img {
    max-height: 300px;
  }

  .process h2 {
    font-size: 2.4rem;
  }
  .about {
    flex-direction: column;

    .text {
      h1 {
        font-size: 3.2rem;
        font-weight: 900;
      }
    }
  }

  .infographics {
    flex-direction: column;
  }

  .reviews {
    flex-direction: column;
  }

  .blog .group {
    flex-direction: column;
  }

  .team .group {
    flex-direction: column;
  }

  footer {
    flex-direction: column;
  }

  .copy {
    flex-direction: column;
  }
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(30, 31, 16, .5);
  backdrop-filter: blur(5px);
  overflow-y: scroll;
  z-index: 1000;
}

.pop-box {
  padding: 2rem;
  width: 100%;
  max-width: 600px;
  margin: 4rem auto;
  background: var(--off-white);
  box-shadow: var(--shadow);
  border-radius: 4rem;
}

.pop-box .pop-close {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
  margin-left: auto;
}

.pop-box .pop-close i {
  font-size: 1.4rem;
  cursor: pointer;
}

.prod-details {
  margin-bottom: 1rem;
}

.product-list {
  display: flex;
  width: 100%;
  height: auto;
  gap: .5rem;
  overflow-x: scroll;
}

.product-item {
  height: 150px;
  width: 100px;
  border: 1px solid var(--grey-05);
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: .5rem;
  position: relative;
  flex-shrink: 0;


  .remove-item {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--grey-10);
    display: grid;
    place-items: center;

    svg {
      width: .5rem;
      height: .5rem;
    }
  }
}

.activeItem {
  border-width: 2px;
  border-color: var(--grey-10);
}

.product-item img {
  height: 100%;
  width: auto;
  object-fit: cover;
  margin: auto;
}

.prod-details .prod-name {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: .5rem;
}

.prod-details .count {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prod-details .price {
  font-size: 1.2rem;
  font-weight: 900;
  color: var(--brand-orange);
}

.prod-details .qty {
  width: 70px;
  height: 30px;
  outline: none;
  border: none;
  border: 1px solid #171717;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: .5rem;
  font-family: 'Nunito', sans-serif;
  font-size: .875rem;
  color: #171717;
  font-weight: 500;
}

.prod-details span {
  font-size: .875rem;
  line-height: 1;
}

.grand-total {
  background: var(--grey-05);
  padding: .5rem;
  border-radius: 5px;
}

.grand-total li {
  font-size: .875rem;
  margin-bottom: .25rem;
}

.cust-details {
  background: var(--off-white);
  /* border-radius: 1rem;
  border: 1px solid var(--grey-05);
  padding: 1rem; */
}

.cust-details .details {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.cust-details .details label {
  font-size: .875rem;
  font-weight: 700;
}

.cust-details .details label span {
  color: red;
}

.cust-details .details input {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  border: 1px solid var(--grey-05);
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: .5rem;
  font-family: 'Nunito', sans-serif;
  font-size: .875rem;
  color: #171717;
  font-weight: 500;
}

.cust-details .details input[id="SpecialNote"] {
  height: 100px;
}

.cust-details .details input::placeholder {
  font-size: .875rem;
  font-weight: 500;
}

.cust-details .details input:focus {
  outline: none;
  border: none;
  border: 1px solid var(--black);
}

@media only screen and (max-width: 540px){
  #ordered table tr td {
      width: 60px;
      padding: .5rem;
      font-size: .875rem;
  }

  .cust-details .details {
      grid-template-columns: repeat(1, 1fr);
  }
}

.checkout-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  font-size: .875rem;
}

.checkout-box p {
  margin-bottom: 1rem;
}


.currentBlog {
  padding: 4rem 7.5vw;
  width: 100%;
  background: var(--off-white);  
}

.currentBlog article {
  font-size: 1rem;
  padding: 0 1rem;
  text-align: justify;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.currentBlog h2 {
  font-size: 2rem;
  font-weight: 900;
}

.currentBlog img {
  margin-bottom: 2rem;
  margin-top: 1rem;
  border-radius: 1rem;
  border: 1px solid var(--grey-05);
}