@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff; */
  --background: var(--off-white);
  --foreground: #171717;

  --black: #171717;
  /* --white: #f3f1f2; */
  --white: #fff;

  /* --blue: rgb(133, 182, 237); */
  --blue: #aac2ff;
  /* --green: rgb(208, 237, 103); */
  --green: #c9ffaa;
  /* --red: rgb(191, 100, 108); */
  --red: #ffc6aa;

  --brand-orange: rgb(211, 122, 90);
  --brand-green: rgb(122, 142, 34);

  /* --off-white: #fffdfe; */
  --off-white: #ffffff;
  --grey-00: #f3f1f2;
  --grey-05: rgb(227, 224, 216);
  --grey-10: rgb(194, 191, 184);

  --shadow: 2px 2px 13px rgba(15, 15, 8, 0.4);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* scrollbar-width: 0; */
}

/* *::-webkit-scrollbar {
  display: none;
  width: 0;
} */

.cta-link {
  display: flex;
  color: var(--off-white);
  fill: var(--off-white);
  align-items: center;
  gap: 1rem;
  font-weight: bold;
}

.btn, .cta {
  padding: 1.2rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 1000px;
  background: #171717;
  color: var(--off-white);

  width: 100%;

  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

svg {
  flex-shrink: 0;
  width: 1.4rem;
  height: 1.4rem;
}

h1, h2, h3, h4 {
  line-height: 1;
}

body {
  color: var(--foreground);
  background: var(--off-white);
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

header {
  height: 80px;
  width: 100%;
  padding: 1rem 7.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: var(--off-white);
  border-bottom-left-radius: 4rem;
  border-bottom-right-radius: 4rem;

  .desktop {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4rem;
  }

  .desktop ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: 600;

    li a {
      font-size: .875rem;
      border-bottom: 1px dotted #171717;
    }
  }

  .desktop .social ul {
    gap: 1rem;

    li svg {
      width: 1rem;
      height: 1rem;
    }
  }

  .mobile, .toggle {
    display: none;
  }
}

.banner {
  position: relative;
  margin-top: 80px;
  background: var(--off-white);
  /* background: linear-gradient(to bottom, var(--off-white), var(--grey-00)); */
  display: flex;
  align-items: center;
}

.banner_img {
  width: 100%;
  max-width: 700px;
  height: auto;
  margin-left: auto;
  position: relative;
  overflow: hidden;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  
  .banner_div {
    width: 600px;
    height: 600px;
    object-fit: cover;
    object-position: center center;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    &:nth-of-type(1){
      background: #aac2ff;
      rotate: -50deg;
    } 
    &:nth-of-type(2){
      background: #c9ffaa;
      rotate: -120deg;
    } 
    &:nth-of-type(3){
      background: #ffc6aa;
      rotate: -230deg;
    } 
  }

  img {
    /* width: 100%;
    height: 100%;
    min-height: 100%;
    max-height: 100%; */
    width: 600px;
    height: 600px;
    object-fit: cover;
    object-position: center center;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    rotate: 10deg;
  }
}

/* .banner_half {
  .banner_img {
    height: 300px;
    max-height: 300px;
  }
} */

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  height: 100%;
}

.slide {
  min-width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
}

.banner_txt {
  /* position: absolute; */
  color: #171717;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  padding: 2rem 7.5vw;
  text-shadow: 0px 0px 1px #171717;
  opacity: .9;

  &::before {
    content: ' ';
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    background: var(--blue);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }

  h1 {
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 1rem;
  }

  h4 {
    font-size: 1.6rem;
    font-weight: 900;
  }

  .cta {
    max-width: 200px;
    color: var(--off-white);
    /* background: var(--black); */
    background: var(--black);
    margin-top: 1rem;
  }
}

.title{
  padding: 0 7.5vw;
  margin-bottom: 4rem;
  /* max-width: 600px; */

  h2 {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 1rem;
    opacity: .9;
  }

  h4 {
    font-size: 1.2rem;
  }
}

.allProducts {
  padding: 4rem 0;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  width: 100%;
  /* transform: translateY(-2rem);
  margin-top: -2rem; */
  background: var(--off-white);
  padding-bottom: 8rem;
}

.products {
  padding: 4rem 7.5vw;

  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  border-top: 1px solid var(--grey-05);
  background: var(--off-white);
  background: linear-gradient(to bottom, var(--grey-00), var(--off-white));

  .name {
    font-weight: 900;
    font-size: 1rem;
    justify-self: flex-start;
    margin-bottom: 1rem;
    background: #aac2ff;
    padding: .5rem;
    border-radius: 1000px;
    rotate: -10deg;
    translate: -5px 55px;
    
  }
  &:nth-of-type(2) .name {
    background: #cbcca8;
  }
  &:nth-of-type(3) .name {
    background: #ffc6aa;
  }
  &:nth-of-type(4) .name {
    background: #c9ffaa;
  }
}

.prod-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* background: var(--grey-00); */
  /* border: 1px solid var(--grey-05); */
  border-radius: 1rem;
  overflow: hidden;
}


.prod {
  /* min-width: 150px; */
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
  /* padding: 1rem 0; */
  cursor: pointer;
  /* border: 1px solid var(--grey-05); */
  width: 100%;
}

.prod img {
  /* max-height: 150px; */
  /* width: 100%; */
  width: auto;
  height: 400px;
  filter: drop-shadow(rgba(84, 84, 84, 0.35) 0px 15px 25px);
  margin: auto;
  border-radius: 1rem;
  object-fit: contain;
}

.prod .feature {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem; */
  text-align: center;
  font-weight: bold;
}


.prod .category {
  font-weight: bold;
  /* background: var(--grey-05); */
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  /* max-width: 200px; */
  justify-content: center;
}

.prod .category li {
  margin-bottom: .5rem;
  font-size: .85rem;

  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: .2rem .5rem;

  cursor: pointer;
  width: 110px;
  font-weight: bold;

  background: var(--grey-00);
  border-radius: 1000px;
  
  &:is(.selected) {
    background: var(--grey-00);
    border-radius: 1000px;
  }
}



.quantity {
  display: flex;
  gap: .25rem;
}

.quantity button {
  --size: 25px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  
  display: grid;
  place-items: center;
  font-weight: bold;
  background: var(--grey-05);
}

.quantity input {
  /* display: block; */
  text-align: center;
  width: 50px;
  min-width: 50px;
  max-width: 50px;
  font-size: 1.2rem;
  font-weight: 900;
  padding: 0;
  border: none;
  outline: none;
  scrollbar-width: 0;
  background: transparent;
}

.quantity input::-webkit-scrollbar {
  width: 0;
  display: none;
}

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}


.about {
  padding: 8rem 7.5vw;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  width: 100%;
  transform: translateY(-4rem);
  margin-top: -4rem;
  background: var(--blue);
  color: var(--off-white);
  display: flex;
  gap: 1rem;

  .text {
    h1 {
      font-size: 4rem;
      font-weight: 900;
    }

    h2 {
      font-size: 1.6rem;
      font-weight: 900;
      margin-bottom: 1rem;
    }
  
    p {
      font-size: 1rem;
      margin-bottom: 2rem;
    }
  }

  img {
    width: 100%;
    max-width: 500px;
    /* max-height: 400px; */
    object-fit: cover;
    /* display: none; */
    border-radius: 1rem;
  }

  video {
    width: 100%;
    max-width: 500px;
    border-radius: 1rem;
  }
}

.process {
  padding: 8rem 7.5vw;
  width: 100%;
  margin-top: -8rem;
  padding-bottom: 12rem;
  background: linear-gradient(to bottom, var(--grey-00), var(--off-white));
  /* color: var(--off-white); */

  h2 {
    font-weight: 900;
    margin-bottom: 1rem;
    text-align: center;
  }
}

.infographics {
  display: flex;
  gap: 1rem;
  align-items: center;
  
  video {
    width: 100%;
    max-width: 500px;
    border-radius: 1rem;
  }
}

.infographics ul li {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;

  span {
    font-size: 1.2rem;
    font-weight: bold;
  }
}



.blog {
  padding: 4rem 7.5vw;
  background: var(--off-white);

  h2 {
    font-size: 1.6rem;
    font-weight: 900;
    margin-bottom: 1rem;
  }

  .group {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;

    figure {
      flex: 1;
      /* padding: 2rem; */
      background: var(--grey-00);
      border: 1px solid var(--grey-05);
      /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
      /* border-radius: 2rem; */
      display: flex;
      gap: 1rem;
  
      img {
        width: 100px;
        height: 100px;
        /* border-radius: 1rem; */
        border: 1px solid var(--grey-05);
        object-fit: cover;
      }
  
      figcaption {
        padding: 1rem 0;

        span {
          display: block;
        }

        h4{
          font-weight: 900;
        }

        a {
          font-size: .875rem;
          font-weight: bold;
          border-bottom: 1px dashed #171717;
        }
      }
    }
  }

}



.faq {
  padding: 8rem 7.5vw;
  padding-bottom: 0;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  width: 100%;
  transform: translateY(-4rem);
  margin-top: -4rem;
  background: var(--off-white);
  background: var(--off-white);


  h2 {
    font-size: 1.6rem;
    font-weight: 900;
    margin-bottom: 1rem;
  }
}

.faq ul li {
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid var(--grey-10);
  margin-bottom: 1rem;
  border-radius: 1rem;
  padding: 1rem;

  span {
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem 0;
    cursor: pointer;
  }

  p {
    font-size: .875rem;
    display: block;
    padding: 1rem 0;
  }

  &:nth-of-type(2) p {
    display: block;
  }
}

.reviews {
  padding: 8rem 7.5vw;
  padding-bottom: 4rem;
  width: 100%;
  transform: translateY(-4rem);
  margin-top: -4rem;
  background: var(--off-white);

  .title {
    text-align: center;
  }
}

.allReviews {
  display: flex;
  gap: 1rem;
  max-width: 100%;
  overflow-x: scroll;

  h2 {
    font-size: 1.6rem;
    font-weight: 900;
    margin-bottom: 1rem;
  }

  blockquote {
    flex: 1;
    padding: 2rem;
    background: #fff;
    background: var(--grey-00);
    width: 100%;
    min-width: 100%;

    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    q {
      font-size: 1.4rem;
      font-weight: bold;
    }

    cite {
      font-weight: 900;
    }
  }
}


.team {
  padding: 4rem 7.5vw;
  padding-bottom: 8rem;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  width: 100%;
  transform: translateY(-4rem);
  margin-top: -4rem;
  background: var(--off-white);

  

  h2 {
    font-size: 1.6rem;
    font-weight: 900;
    margin-bottom: 1rem;
  }

  .group {
    display: flex;
    gap: 1rem;

    figure {
      flex: 1;
      padding: 1rem;
      background: #fff;
      background: var(--grey-00);
  
      /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
      border-radius: 2rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
  
      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 1px solid var(--grey-05);
        object-fit: cover;
      }
  
      figcaption {
        font-weight: 900;
      }
    }
  }

}

.footer {
  padding: 4rem 7.5vw;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.subscribe {
  padding: 2rem;
  max-width: 500px;
  background: var(--grey-00);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h2 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    font-weight: 900;
  }

  input {
    width: 100%;
    /* height: 40px; */
    border: none;
    outline: none;
    border: 1px solid var(--grey-05);
    border-radius: 1rem;
    padding: 1rem;
    font-family: 'Nunito', sans-serif;
    font-size: .875rem;
    font-weight: 500;
  }

  
}

.contact li {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.contact .content {

  h4 {
    font-weight: 900;
  }

  p {
    font-size: .875rem;
  }

  a {
    /* color: rgb(170, 209, 111); */
    font-size: .875rem;
    font-weight: bold;
    margin-top: .5rem;
    display: inline-block;
    border-bottom: 1px dashed #171717;
  }
}

.copy {
  text-align: center;
  background: var(--off-white);
  padding: 2rem 7.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-weight: bold;

  .social ul {
    display: flex;
    gap: 1rem;
  }
}

@media only screen and (max-width: 620px) {
  header {

    .desktop {
      display: none;
    }

    .toggle {
      display: block;
    }

    .mobile {
      display: flex;
      flex-direction: column;
      padding: 2rem 7.5vw;
      gap: 4rem;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      background: var(--off-white);
      border-bottom-left-radius: 4rem;
      border-bottom-right-radius: 4rem;

      .close {
        /* justify-self: flex-end; */
        margin-right: auto;
      }
    }

    .mobile ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 1rem;
      font-weight: 600;
  
      li a {
        font-size: 1.6rem;
        border-bottom: 1px dotted #171717;
      }
    }
  }

  .banner {
    flex-direction: column;
    
  }

  .banner_img {
    img {
      width: 300px;
      height: 300px;
    }
  }
  .banner_txt h1 {
    font-size: 2.9rem;
  }

  /* .prod-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  } */

  /* .prod {
    min-width: 125px;
  } */

  .prod img {
    max-height: 300px;
  }

  .about {
    flex-direction: column;
  }

  .infographics {
    flex-direction: column;
  }

  .reviews {
    flex-direction: column;
  }

  .blog .group {
    flex-direction: column;
  }

  .team .group {
    flex-direction: column;
  }

  footer {
    flex-direction: column;
  }

  .copy {
    flex-direction: column;
  }
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(30, 31, 16, .5);
  backdrop-filter: blur(5px);
  overflow-y: scroll;
  z-index: 1000;
}

.pop-box {
  padding: 2rem;
  width: 100%;
  max-width: 600px;
  margin: 4rem auto;
  background: var(--off-white);
  box-shadow: var(--shadow);
  border-radius: 4rem;
}

.pop-box .pop-close {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
  margin-left: auto;
}

.pop-box .pop-close i {
  font-size: 1.4rem;
  cursor: pointer;
}

.prod-details {
  margin-bottom: 1rem;
}

.product-list {
  display: flex;
  width: 100%;
  height: auto;
  gap: .5rem;
  overflow-x: scroll;
}

.product-item {
  height: 150px;
  width: 100px;
  border: 1px solid var(--grey-05);
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: .5rem;
  position: relative;
  flex-shrink: 0;


  .remove-item {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--grey-10);
    display: grid;
    place-items: center;

    svg {
      width: .5rem;
      height: .5rem;
    }
  }
}

.activeItem {
  border-width: 2px;
  border-color: var(--grey-10);
}

.product-item img {
  height: 100%;
  width: auto;
  object-fit: cover;
  margin: auto;
}

.prod-details .prod-name {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: .5rem;
}

.prod-details .count {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prod-details .price {
  font-size: 1.2rem;
  font-weight: 900;
  color: var(--brand-orange);
}

.prod-details .qty {
  width: 70px;
  height: 30px;
  outline: none;
  border: none;
  border: 1px solid #171717;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: .5rem;
  font-family: 'Nunito', sans-serif;
  font-size: .875rem;
  color: #171717;
  font-weight: 500;
}

.prod-details span {
  font-size: .875rem;
  line-height: 1;
}

.grand-total {
  background: var(--grey-05);
  padding: .5rem;
  border-radius: 5px;
}

.grand-total li {
  font-size: .875rem;
  margin-bottom: .25rem;
}

.cust-details {
  background: var(--off-white);
  /* border-radius: 1rem;
  border: 1px solid var(--grey-05);
  padding: 1rem; */
}

.cust-details .details {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.cust-details .details label {
  font-size: .875rem;
  font-weight: 700;
}

.cust-details .details label span {
  color: red;
}

.cust-details .details input {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  border: 1px solid var(--grey-05);
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: .5rem;
  font-family: 'Nunito', sans-serif;
  font-size: .875rem;
  color: #171717;
  font-weight: 500;
}

.cust-details .details input[id="SpecialNote"] {
  height: 100px;
}

.cust-details .details input::placeholder {
  font-size: .875rem;
  font-weight: 500;
}

.cust-details .details input:focus {
  outline: none;
  border: none;
  border: 1px solid var(--black);
}

@media only screen and (max-width: 540px){
  #ordered table tr td {
      width: 60px;
      padding: .5rem;
      font-size: .875rem;
  }

  .cust-details .details {
      grid-template-columns: repeat(1, 1fr);
  }
}

.checkout-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  font-size: .875rem;
}

.checkout-box p {
  margin-bottom: 1rem;
}


.currentBlog {
  padding: 4rem 7.5vw;
  margin-top: 80px;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  width: 100%;
  transform: translateY(-4rem);
  margin-top: -4rem;
  background: var(--off-white);  
}

.currentBlog article {
  font-size: 1rem;
  padding: 0 1rem;
  text-align: justify;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.currentBlog h2 {
  font-size: 2rem;
  font-weight: 900;
}

.currentBlog img {
  margin-bottom: 2rem;
  margin-top: 1rem;
  border-radius: 1rem;
  border: 1px solid var(--grey-05);
}