@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff; */
  --background: var(--off-white);
  --foreground: #171717;

  --black: #171717;
  /* --white: #f3f1f2; */
  --white: #fff;

  /* --blue: rgb(133, 182, 237); */
  --blue: #aac2ff;
  /* --green: rgb(208, 237, 103); */
  --green: #c9ffaa;
  /* --red: rgb(191, 100, 108); */
  --red: #ffc6aa;

  --brand-orange: #f47a29;
  --brand-green: #92931B;

  /* --off-white: #fffdfe; */
  --off-white: #ffffff;
  --grey-00: #f3f1f2;
  --grey-05: rgb(227, 224, 216);
  --grey-10: rgb(194, 191, 184);

  --shadow: 2px 2px 13px rgba(205, 205, 205, 0.4);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* scrollbar-width: 0; */
}

/* *::-webkit-scrollbar {
  display: none;
  width: 0;
} */

.cta-link {
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 1000px;
  background: var(--off-white);
  
  color: #171717;
  fill: #171717;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  font-weight: 900;
}

.btn, .cta {
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 1000px;
  background: #171717;
  fill: var(--off-white);
  color: var(--off-white);
  gap: 1rem;

  display: inline-flex;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}



svg {
  flex-shrink: 0;
  width: 1.4rem;
  height: 1.4rem;
}

h1, h2, h3, h4 {
  line-height: 1;
}

body {
  color: var(--foreground);
  background: var(--off-white);
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

header {
  height: 80px;
  width: 100%;
  padding: 1rem 7.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: var(--off-white);
  border-bottom-left-radius: 4rem;
  border-bottom-right-radius: 4rem;

  .desktop {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4rem;
  }

  .desktop ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: 600;

    li a {
      font-size: .875rem;
    }
  }

  .desktop .social ul {
    gap: 1rem;

    li svg {
      width: 1rem;
      height: 1rem;
    }
  }

  .mobile, .toggle {
    display: none;
  }
}

.banner {
  position: relative;
  margin-top: 80px;
  background: var(--off-white);
  display: flex;
  align-items: center;
}

.banner_img {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin-left: auto;
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    min-width: 100%;
    max-width: 800px;
    max-height: 800px;
    object-fit: cover;
    object-position: center center;
  }
}

.slider {
  display: flex;
  transition: transform 0.6s ease-in-out;
  width: 100%;
  height: 100%;
  align-items: center;
}

.slide {
  min-width: 100%;
  height: 100%;
  transition: opacity 0.6s ease-in-out;

  &:nth-of-type(1) img {
    aspect-ratio: 1;
    clip-path: shape(from 84.21% 37.90%,curve to 85.48% 63.37% with 94.22% 50.00%,curve to 63.37% 80.94% with 76.73% 76.73%,curve to 36.36% 81.22% with 50.00% 85.16%,curve to 11.71% 63.64% with 22.72% 77.28%,curve to 10.67% 35.32% with 0.70% 50.00%,curve to 35.32% 12.05% with 20.64% 20.64%,curve to 62.10% 14.63% with 50.00% 3.46%,curve to 84.21% 37.90% with 74.20% 25.80%);
  }
  &:nth-of-type(2) img {
    aspect-ratio: 1;
    clip-path: shape(from 91.95% 35.42%,curve to 89.29% 62.65% with 93.76% 50.00%,curve to 73.94% 82.73% with 84.82% 75.30%,curve to 49.01% 93.21% with 63.05% 90.17%,curve to 26.05% 85.07% with 34.97% 96.25%,curve to 9.71% 61.94% with 17.12% 73.89%,curve to 6.37% 35.63% with 2.30% 50.00%,curve to 24.19% 17.08% with 10.43% 21.25%,curve to 50.37% 11.76% with 37.95% 12.91%,curve to 76.47% 15.73% with 62.80% 10.62%,curve to 91.95% 35.42% with 90.14% 20.84%);
  }
  &:nth-of-type(3) img {
    aspect-ratio: 1;
    clip-path: shape(from 86.20% 35.25%,curve to 83.98% 62.53% with 92.89% 50.00%,curve to 62.53% 87.41% with 75.06% 75.06%,curve to 33.54% 91.34% with 50.00% 99.76%,curve to 9.92% 66.46% with 17.08% 82.92%,curve to 11.29% 34.91% with 2.76% 50.00%,curve to 34.91% 21.80% with 19.81% 19.81%,curve to 64.75% 22.14% with 50.00% 23.79%,curve to 86.20% 35.25% with 79.51% 20.49%);
  }
}



.banner_txt {
  color: #171717;
  color: var(--brand-orange);

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  padding: 2rem 7.5vw;

  &::before {
    content: ' ';
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    background: var(--blue);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }

  h1 {
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 1rem;
    letter-spacing: -2px;
  }

  h4 {
    font-size: 1.6rem;
    font-weight: 900;
  }

  .cta {
    color: var(--off-white);
    background: var(--brand-orange);
    margin-top: 2rem;
  }
}

.title{
  padding: 0 7.5vw;
  margin-bottom: 4rem;
  text-align: center;

  h1 {
    font-size: 2.6rem;
    font-weight: 900;
    margin-bottom: 1rem;
    color: var(--brand-orange);
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 1rem;
  }

  h4 {
    font-size: 1.2rem;
  }
}

.continue {
  font-weight: 900;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1rem;
  background: var(--brand-green);
  color: var(--off-white);
  fill: var(--off-white);
  padding: .5rem;
  border-radius: 1000px;
  display: flex;
  align-items: center;
  gap: .5rem;
  z-index: 10;
}

.allProducts {
  padding: 4rem 0;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  width: 100%;
  background: var(--off-white);
}

.products {
  padding: 2rem 7.5vw;

  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  border-top: 1px solid var(--grey-05);
  background: linear-gradient(to bottom, var(--grey-00), var(--off-white));
  position: relative;

  .name {
    font-weight: 900;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem;
    background: var(--brand-orange);
    color: var(--off-white);
    padding: .75rem;
    border-radius: 1000px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -15px);
    z-index: 10;
  }
  
  .unique-desc {
    font-size: .875rem;
    font-weight: 600;
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin: 2rem auto 0 auto;
    color: #555;
    white-space: pre-line;
    height: 60px;
    overflow: hidden;
  }
}

.prod-grid {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
  display: flex;
  gap: 1rem;
  border-radius: 1rem;
  overflow: hidden;
}


.prod {
  flex: 1;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 100%;
  position: relative;

  &:first-of-type{
    margin-left: auto;
  }

  &:last-of-type {
    margin-right: auto;
  }
}

.prod img {
  width: auto;
  height: 400px;
  filter: drop-shadow(rgba(84, 84, 84, 0.35) 0px 15px 25px);
  margin: auto;
  border-radius: 1rem;
  object-fit: contain;
}

.prod .feature {
  text-align: center;
  font-weight: bold;
  transform: translateY(-1rem);

  .package-name span {
    font-size: .875rem;
    line-height: 1;
  }
}


.prod .category {
  font-weight: bold;
  background: var(--grey-00);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-20px);
  box-shadow: var(--shadow);
  padding: 1rem;
  border: 1px solid var(--grey-05);
  border-radius: 1rem;

  .summary {
    font-size: .7rem;
    white-space: pre-line;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: center;
  }
  
}

.prod .category li {
  margin-bottom: .5rem;
  font-size: .85rem;

  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: .2rem .5rem;

  cursor: pointer;
  width: 110px;
  font-weight: bold;
  border: 1px solid var(--grey-05);
  background: var(--grey-00);
  background: #fff;
  border-radius: 1000px;
  
  &:is(.selected) {
    background: var(--brand-green);
    color: var(--off-white);
    border-radius: 1000px;
  }
}



.quantity {
  display: flex;
  gap: .25rem;
}

.quantity button {
  --size: 25px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  
  display: grid;
  place-items: center;
  font-weight: bold;
  background: var(--grey-05);
}

.quantity input {
  text-align: center;
  width: 50px;
  min-width: 50px;
  max-width: 50px;
  font-size: 1.2rem;
  font-weight: 900;
  padding: 0;
  border: none;
  outline: none;
  scrollbar-width: 0;
  background: transparent;
}

.quantity input::-webkit-scrollbar {
  width: 0;
  display: none;
}

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}


.infographics {
  display: flex;
  gap: 4rem;
  align-items: center;
  
  video {
    width: 100%;
    max-width: 500px;
    border-radius: 1rem;
  }
}

.infographics ul li {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;

  span {
    font-size: 1.5rem;
    font-weight: 900;
  }
}

.infographics h4 {
  font-weight: 900;
  font-size: 1.2rem;
}

.about {
  padding: 4rem 7.5vw;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  width: 100%;
  background: var(--brand-orange);
  color: var(--off-white);
  display: flex;
  gap: 1rem;

  .text {
    h1 {
      font-size: 4rem;
      font-weight: 900;
    }

    h2 {
      font-size: 1.6rem;
      font-weight: 900;
      margin-bottom: 1rem;
    }
  
    p {
      font-size: 1.2rem;
      margin-bottom: 2rem;
      font-weight: 600;
    }
  }

  img {
    width: 100%;
    max-width: 500px;
    object-fit: cover;
    border-radius: 1rem;
  }

  video {
    width: 100%;
    max-width: 500px;
    border-radius: 1rem;
  }
}

.impact {
  padding: 4rem 7.5vw;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  width: 100%;
  background: var(--brand-orange);
  color: var(--off-white);
  display: flex;
  gap: 1rem;

  .text {
    h1 {
      font-size: 4rem;
      font-weight: 900;
    }

    h2 {
      font-size: 1.6rem;
      font-weight: 900;
      margin-bottom: 1rem;
    }
  
    p {
      font-size: 1.2rem;
      margin-bottom: 2rem;
      font-weight: 600;
    }
  }

  img {
    width: 100%;
    max-width: 500px;
    object-fit: cover;
    border-radius: 1rem;
  }

  .infographics {
    display: flex;
    gap: 4rem;
    align-items: center;
  }

  .infographics ul li {
    display: flex;
    gap: .5rem;
    margin-bottom: 1rem;
    flex-direction: column;
    list-style: disc;

    span {
      font-size: 1.2rem;
      font-weight: 900;
    }
  }
}


.note {
  padding: 4rem 7.5vw;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  width: 100%;
  background: var(--brand-orange);
  color: var(--off-white);
  display: flex;
  gap: 1rem;

  .text {
    padding: 2rem;
    width: 100%;
    background: var(--grey-00);
    color: #171717;
    border: 1px dashed var(--brand-orange);
    border-radius: 2rem;
   

    h2 {
      font-size: 2.4rem;
      margin-bottom: 1rem;
      font-weight: 900;
      color: var(--brand-orange);
    }
  
    p {
      font-size: 1rem;
      margin-bottom: 2rem;
      font-weight: 600;
    }
  }

  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 1rem;
  }
}

.process {
  padding: 4rem 7.5vw;
  width: 100%;
  background: linear-gradient(to bottom, var(--grey-00), var(--off-white));

  h2 {
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 1rem;
    text-align: center;
    letter-spacing: -2px;
    color: var(--brand-orange);
  }
}



.blog {
  padding: 4rem 7.5vw;
  background: var(--brand-orange);
  
  h2 {
    font-size: 1.6rem;
    font-weight: 900;
    margin-bottom: 1rem;
  }
  
  .group {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    background: var(--off-white);
    height: auto;

    a {
      flex: 1;
    }
    figure {
      width: 100%;
      height: 100%;
      background: var(--grey-00);
      border: 1px solid var(--grey-05);
      display: flex;
      gap: 1rem;
  
      img {
        width: 100px;
        height: 100px;
        border: 1px solid var(--grey-05);
        object-fit: cover;
      }
  
      figcaption {
        padding: 1rem 0;

        span {
          display: block;
          font: .875rem;
          color: var(--brand-orange);
          font-weight: 900;
          line-height: 1;
        }

        h4{
          font-weight: 400;
          margin-bottom: .5rem;
        }
      }
    }
  }

}



.faq {
  padding: 4rem 7.5vw;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  width: 100%;
  background: var(--off-white);
  background: var(--off-white);
  
  
  h2 {
    font-size: 1.6rem;
    font-weight: 900;
    margin-bottom: 1rem;
  }
}

.faq ul li {
  display: flex;
  flex-direction: column;
  background: #fff;
  background: var(--grey-00);
  border: 1px solid var(--grey-10);
  margin-bottom: 1rem;
  border-radius: 1rem;
  padding: 1rem;

  span {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem 0;
    cursor: pointer;
  }

  p {
    font-size: 1rem;
    display: block;
    padding: 1rem 0;
  }

  &:nth-of-type(2) p {
    display: block;
  }
}

.reviews {
  padding: 4rem 7.5vw;
  padding-bottom: 4rem;
  width: 100%;
  background: var(--off-white);
  
  .title {
    text-align: center;
  }
}

.allReviews {
  display: flex;
  gap: 1rem;
  max-width: 100%;
  margin: 0 auto;
  overflow-x: scroll;
  
  blockquote {
    padding: 2rem;
    background: #fff;
    background: var(--grey-00);
    width: 100%;
    min-width: 300px;
    max-width: 600px;

    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    q {
      font-size: 1.2rem;
      font-weight: bold;
    }

    cite {
      font-weight: 900;
    }
  }

  &&:first-of-type {
    margin-left: auto;
  }

  &&:last-of-type {
    margin-right: auto;
  }
}


.team {
  padding: 4rem 7.5vw;
  width: 100%;
  background: var(--off-white);
  color: #171717;
  text-align: center;

  h2 {
    font-size: 1.6rem;
    font-weight: 900;
    margin-bottom: 1rem;
    color: var(--brand-orange);
  }

  .group {
    display: flex;
    gap: 1rem;

    figure {
      flex: 1;
      padding: 1rem;
      background: var(--grey-00);
  
      display: flex;
      flex-direction: column;
      gap: 1rem;
  
      img {
        width: 100px;
        height: 100px;
        border: 4px solid var(--brand-orange);
        object-fit: cover;
        border-radius: 0;
        margin: 0 auto;
      }
  
      figcaption {
        font-weight: 900;
      }
    }
  }

}

.footer {
  padding: 4rem 7.5vw;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  gap: 2rem;
}

.subscribe {
  padding: 2rem;
  width: 100%;
  background: var(--grey-00);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h2 {
    font-size: 2.4rem;
    margin-bottom: 1rem;
    font-weight: 900;
    color: var(--brand-orange);
  }

  p {
    font-size: 1.2rem;
    font-weight: 600;
  }

  input {
    width: 100%;
    border: none;
    outline: none;
    border: 1px solid var(--grey-05);
    border-radius: 1rem;
    padding: 1rem;
    font-family: 'Nunito', sans-serif;
    font-size: .875rem;
    font-weight: 500;
  }

  
}

.contact li {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.contact .content {

  h4 {
    font-weight: 900;
    color: var(--brand-orange);
  }

  p {
    font-size: .875rem;
  }

  a {
    color: var(--brand-green);
    font-size: .875rem;
    font-weight: bold;
    margin-top: .5rem;
    display: inline-block;
    border-bottom: 1px dashed #171717;
  }
}

.copy {
  text-align: center;
  background: var(--off-white);
  color: var(--brand-green);
  padding: 2rem 7.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-weight: bold;

  .social ul {
    display: flex;
    gap: 1rem;
    fill: var(--brand-orange);
  }
}

@media only screen and (max-width: 620px) {
  header {

    .desktop {
      display: none;
    }

    .toggle {
      display: block;
    }

    .mobile {
      display: flex;
      flex-direction: column;
      padding: 2rem 7.5vw;
      gap: 4rem;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      background: var(--off-white);
      border-bottom-left-radius: 4rem;
      border-bottom-right-radius: 4rem;

      .close {
        margin-right: auto;
      }
    }

    .mobile ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 1rem;
      font-weight: 600;
  
      li a {
        font-size: 1.6rem;
      }
    }
  }

  .banner {
    flex-direction: column;
    
  }

  .banner_img {
    img {
      width: 300px;
      height: 300px;
    }
  }
  .banner_txt h1 {
    font-size: 3.2rem;
  }

  .prod img {
    max-height: 300px;
  }

  .process h2 {
    font-size: 2.4rem;
  }
  .about {
    flex-direction: column;

    .text {
      h1 {
        font-size: 3.2rem;
        font-weight: 900;
      }
    }
  }

  .infographics {
    flex-direction: column;
  }

  .reviews {
    flex-direction: column;
  }

  .blog .group {
    flex-direction: column;
  }

  .team .group {
    flex-direction: column;
  }

  footer {
    flex-direction: column;
  }

  .copy {
    flex-direction: column;
  }
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(30, 31, 16, .5);
  backdrop-filter: blur(5px);
  overflow-y: scroll;
  z-index: 1000;
}

.pop-box {
  padding: 2rem;
  width: 100%;
  max-width: 600px;
  margin: 4rem auto;
  background: var(--off-white);
  box-shadow: var(--shadow);
  border-radius: 4rem;
}

.pop-box .pop-close {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
  margin-left: auto;
}

.pop-box .pop-close i {
  font-size: 1.4rem;
  cursor: pointer;
}

.prod-details {
  margin-bottom: 1rem;
}

.product-list {
  display: flex;
  width: 100%;
  height: auto;
  gap: .5rem;
  overflow-x: scroll;
}

.product-item {
  height: 150px;
  width: 100px;
  border: 1px solid var(--grey-05);
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: .5rem;
  position: relative;
  flex-shrink: 0;


  .remove-item {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--grey-10);
    display: grid;
    place-items: center;

    svg {
      width: .5rem;
      height: .5rem;
    }
  }
}

.activeItem {
  border-width: 2px;
  border-color: var(--grey-10);
}

.product-item img {
  height: 100%;
  width: auto;
  object-fit: cover;
  margin: auto;
}

.prod-details .prod-name {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: .5rem;
}

.prod-details .count {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prod-details .price {
  font-size: 1.2rem;
  font-weight: 900;
  color: var(--brand-orange);
}

.prod-details .qty {
  width: 70px;
  height: 30px;
  outline: none;
  border: none;
  border: 1px solid #171717;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: .5rem;
  font-family: 'Nunito', sans-serif;
  font-size: .875rem;
  color: #171717;
  font-weight: 500;
}

.prod-details span {
  font-size: .875rem;
  line-height: 1;
}


.prod-details .description {
  font-size: .875rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: justify;
  line-height: 1.4;

  p {
    white-space: pre-line;
  }
}

.grand-total {
  background: var(--grey-05);
  padding: .5rem;
  border-radius: 5px;
}

.grand-total li {
  font-size: .875rem;
  margin-bottom: .25rem;
}

.cust-details {
  background: var(--off-white);
}

.cust-details .details {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.cust-details .details label {
  font-size: .875rem;
  font-weight: 700;
}

.cust-details .details label span {
  color: red;
}

.cust-details .details input {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  border: 1px solid var(--grey-05);
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: .5rem;
  font-family: 'Nunito', sans-serif;
  font-size: .875rem;
  color: #171717;
  font-weight: 500;
}

.cust-details .details input[id="SpecialNote"] {
  height: 100px;
}

.cust-details .details input::placeholder {
  font-size: .875rem;
  font-weight: 500;
}

.cust-details .details input:focus {
  outline: none;
  border: none;
  border: 1px solid var(--black);
}

@media only screen and (max-width: 540px){
  #ordered table tr td {
      width: 60px;
      padding: .5rem;
      font-size: .875rem;
  }

  .cust-details .details {
      grid-template-columns: repeat(1, 1fr);
  }
}

.checkout-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  font-size: .875rem;
}

.checkout-box p {
  margin-bottom: 1rem;
}


.currentBlog {
  padding: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  background: var(--off-white);  
}

.currentBlog article {
  font-size: 1rem;
  text-align: justify;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.currentBlog h2 {
  font-size: 2rem;
  font-weight: 900;
}

.currentBlog img {
  margin-bottom: 2rem;
  margin-top: 1rem;
  border-radius: 1rem;
  border: 1px solid var(--grey-05);
}

.currentBlog article .content {
  white-space: pre-line;
}